<footer class="page-footer">
  <div class="container">
    <div class="inner">
      <div class="wrapper">
        <div class="group group-slink">
          <h5>{{ .Site.Title }}</h5>
          <p>Theme
            <a href="https://github.com/stkevintan/canoe" target="_blank">canoe</a> designed by
            <a href="https://github.com/stkevintan" target="_blank">Kevin Tan</a> with ❤
          </p>
          <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
          <p>
            本站总访问量
            <span id="busuanzi_value_site_pv"></span>次 本站访客数
            <span id="busuanzi_value_site_uv"></span>人次 本文总阅读量
            <span id="busuanzi_value_page_pv"></span>次
          </p>
          <ul class='slink'>
            {{ with .Site.Menus.social }} {{ range . }}
            <li>
              <a href="{{.URL}}" target="_blank" title="{{.Name}}">
                {{ .Pre | default ("<i class='material-icons'>language</i>" | safeHTML ) }}
              </a>
            </li>
            {{ end }} {{ end }}
          </ul>
        </div>
        <div class="group group-flink">
          <h5>My Friends</h5>
          <ul>
            {{ with .Site.Menus.friend }}{{ range . }}
            <li>
              <a href="{{ .URL }}" target="_blank">{{ .Name }}</a>
            </li>
            {{ end }}{{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="inner">
        {{ .Site.Params.copyright }}
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="20" viewBox="0 0 244.5 28">
          <g shape-rendering="crispEdges">
            <path fill="#555" d="M0 0h153.5v28H0z" />
            <path fill="#9f9f9f" d="M153.5 0h91v28H153.5z" />
          </g>
          <g fill="#fff" text-anchor="middle" font-family="DejaVu Sans,Verdana,Geneva,sans-serif" font-size="100">
            <text x="767.5" y="175" transform="scale(.1)" textLength="1295">CREATIVE COMMON</text>
            <text x="1990" y="175" font-weight="bold" transform="scale(.1)" textLength="670">BY-NC-SA</text>
          </g>
        </svg>

      </div>

    </div>
  </div>
</footer>
