<script type="text/x-mathjax-config">
  MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"], linebreaks: { automatic:true }, EqnChunk:
          (MathJax.Hub.Browser.isMobile ? 10 : 50) }, tex2jax: { inlineMath: [ ["$", "$"], ["\\(","\\)"] ], processEscapes: true,
          ignoreClass: "tex2jax_ignore|dno",skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']}, TeX: { noUndefined:
          { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } }, Macros: { href: "{}" } }, messageStyle:
          "none" });
  </script>
<!-- <script type="text/x-mathjax-config">
  MathJax.Hub.Queue( function() { 
    var all = MathJax.Hub.getAllJax(), i; 
    for (i = 0; i < all.length; i += 1) 
    { 
      all[i].SourceElement().parentNode.className +=' has-jax'; 
    } 
  }); 
</script> -->
<script charset="utf-8" src="https://cdn.bootcss.com/mathjax/2.7.2/latest.js?config=TeX-AMS_SVG"></script>
<script type="text/javascript" src="//cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
<!-- <script src="https://cdn.bootcss.com/highlightjs-line-numbers.js/2.1.0/highlightjs-line-numbers.min.js"></script> -->
<script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
<script>
  hljs.configure({
    tabReplace: '  '
  })
  hljs.registerLanguage("graphql", function (e) { return { aliases: ["gql"], k: { keyword: "query mutation subscription|10 type interface union scalar fragment|10 enum on ...", literal: "true false null" }, c: [e.HCM, e.QSM, e.NM, { cN: "type", b: "[^\\w][A-Z][a-z]", e: "\\W", eE: !0 }, { cN: "literal", b: "[^\\w][A-Z][A-Z]", e: "\\W", eE: !0 }, { cN: "variable", b: "\\$", e: "\\W", eE: !0 }, { cN: "keyword", b: "[.]{2}", e: "\\." }, { cN: "meta", b: "@", e: "\\W", eE: !0 }], i: /([;<']|BEGIN)/ } });
  hljs.initHighlightingOnLoad();
  // hljs.initLineNumbersOnLoad();
</script>


<script type="text/javascript" src="{{$.Site.BaseURL }}/js/polyfill.js"></script>
<script type="text/javascript" src="{{ $.Site.BaseURL }}/js/index.js"></script>
<!---->
{{ with .Site.Params.analytics }}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{ . }}', 'auto');
  ga('send', 'pageview');

</script> {{ end }}
<script src="/sw.js"></script>
<script>
if('serviceWorker' in navigator) {

/**
 * Define if <link rel='next|prev|prefetch'> should
 * be preloaded when accessing this page
 */
const PREFETCH = true;

/**
 * Define which link-rel's should be preloaded if enabled.
 */
const PREFETCH_LINK_RELS = ['index','next', 'prev', 'prefetch'];

/**
 * prefetchCache
 */
function prefetchCache() {
    if(navigator.serviceWorker.controller) {

        let links = document.querySelectorAll(
            PREFETCH_LINK_RELS.map((rel) => {
                return 'link[rel='+rel+']';
            }).join(',')
        );

        if(links.length > 0) {
            Array.from(links)
                .map((link) => {
                    let href = link.getAttribute('href');
                    navigator.serviceWorker.controller.postMessage({
                        action : 'cache',
                        url : href,
                    });
                });
        }


    }
}

/**
 * Register Service Worker
 */
navigator.serviceWorker
    .register('/sw.js', { scope: '/' })
    .then(() => {
        console.log('Service Worker Registered');
    });

/**
 * Wait if ServiceWorker is ready
 */
navigator.serviceWorker
    .ready
    .then(() => {
        if(PREFETCH) {
            prefetchCache();
        }
    });

}
</script>

</body>

</html>